// SCSS Awesomeness

/* -------------------------------------------
    ____           __          __
   /  _/___  _____/ /_  ______/ /__  _____
   / // __ \/ ___/ / / / / __  / _ \/ ___/
 _/ // / / / /__/ / /_/ / /_/ /  __(__  )
/___/_/ /_/\___/_/\__,_/\__,_/\___/____/

------------------------------------------- */
@use "sass:math";

// General
@import 'inc/css-vars';
@import 'inc/vars';
@import 'inc/mixins';
@import 'inc/reset';
@import 'inc/fonts';
@import 'inc/animations';

// lib
@import '../lib/mmenu/css/mmenu';
@import '../lib/slick/scss/slick-theme';
@import '../lib/slick/scss/slick';
@import '../lib/lightgallery/css/lightgallery';
@import '../lib/lightslider/css/lightslider';
@import '../lib/tooltipster/scss/tooltipster.bundle.min';
@import '../lib/tooltipster/scss/tooltipster-dark';
@import '../lib/tooltipster/scss/tooltipster-light';
@import '../lib/chosen/scss/chosen.min';
@import '../lib/chosen/scss/chosen-material-theme';
@import '../lib/flatpickr/flatpickr.min';
@import '../modules/gravity-forms/scss/gf';

/**
 * Layout
 * Template layout include
*/
@import 'layout/global';
@import 'layout/nav-mobile';

@import 'layout/header';

// Modules
@import '../modules/advanced-video-banners/scss/avb';
@import '../modules/flexible-content/scss/flexible-content';
@import '../modules/blog/scss/blog';

@import 'layout/footer';
@import 'inc/themes';

.ticker-container {
  background: $primary; padding: 10px 0;

  .ticker{
    white-space: nowrap; animation: scrollTicker 25s linear infinite;

    p{color: $text; font-family: $boldTextFont;}
  }
}

@keyframes scrollTicker {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-50%);
  }
}

.free-primary{
  padding: 20px 10px; background: $primary; color: white!important; border-radius: 16px
}

.home{
  .fc_grid_boxes{
    background-image: url(img/fancy-cushion.webp); background-repeat: repeat;
  }
}

.social-icons{
  display: flex;
    
    li {

        a {
            i{color: #fff; font-size: 26px; margin-right: 20px;}

            &:hover{
              i{color: $secondary;}
            }
        }
    }
}