// Fonts
$primaryFont: 'Fenice Regular';
$secondaryFont: 'Fenice Bold';
$textFont: 'Mont Regular';
$boldTextFont: 'Mont Semibold';
$baseFontSize: 16px;
$baseFontColor: #031926;

// Colours
$primary: #fc9e4f;
$primaryLight: #F6F2FD;
$secondary: #3A5683;
$tertiary: #808F85;
$quaternary: #F6F8FF;
$lightgrey: #eef0fb;
$text: $baseFontColor;
$textLight: #435366;
$border: #d6dbe1;
$white: #fff;
$borderDark: lighten($text, 35%);
$success: #64c82d;
$warning: #ffc458;
$error: tomato;

$grey: #eff4f7;