/*
-----------------------------------------------------
    ___                            ___
   /   | ______________  _________/ (_)___  ____
  / /| |/ ___/ ___/ __ \/ ___/ __  / / __ \/ __ \
 / ___ / /__/ /__/ /_/ / /  / /_/ / / /_/ / / / /
/_/  |_\___/\___/\____/_/   \__,_/_/\____/_/ /_/

-----------------------------------------------------
Accordion
*/

.fc_accordion {
	&.grey {
		.accordion__wrap {
			h3 {
				background: darken($lightgrey, 4%);
				&:hover:not(.active) {
					background: darken($lightgrey, 6%);
				}
			}
		}
	}

	.accordion__wrap {
		background: #fff;
		border-radius: var(--fl1-radius-md);
		position: relative;
		margin-bottom: var(--fl1-spacing-xs);

		.toggle {
			display: flex;
			justify-content: space-between;
			padding: var(--fl1-spacing-md);
			font-size: var(--fl1-font-sm);
			font-weight: 600;
			color: var(--fl1-text);
			cursor: pointer;

			span {
				display: block;
				color: var(--fl1-primary);
				margin-left: var(--fl1-spacing-md);
			}
		}

		.accordion__content {
			padding: 0 var(--fl1-spacing-md) var(--fl1-spacing-md);
			display: none;
			@include dontbreak();
		}

		.accordion__bg {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
			transition: all 0.2s ease;
		}

		&.active {
			border-bottom: none;
			z-index: 2;
			h3 {
				color: var(--fl1-primary);
				font-weight: 700;
			}
			h3:not(.toggle) {
				padding: 0;
				margin-bottom: 20px;
			}
			.accordion__content {
				display: block;
				animation: fadeInUp 0.3s ease-in;
			}
			.accordion__bg {
				background: #fff;
				box-shadow: 0 15px 60px rgba(black, 0.13);
				border-radius: var(--fl1-radius-md);
			}
		}
	}
}
