/*
--------------------------------------------
    ______           __
   / ____/__  ____ _/ /___  __________
  / /_  / _ \/ __ `/ __/ / / / ___/ _ \
 / __/ /  __/ /_/ / /_/ /_/ / /  /  __/
/_/    \___/\__,_/\__/\__,_/_/   \___/

-------------------------------------------
Feature
*/
.fc_feature,
.fc_feature_accordion {
    // @include breakpoint(brotherbear) { padding-left: 10px !important; padding-right: 10px !important;}

    .fc_feature_wrapper { display:flex; flex-wrap:wrap; align-items: center; position: relative;

        @include breakpoint(brotherbear) { flex-direction: column;}

        .feature__text { width:math.percentage(math.div(1,2));
            @include breakpoint(brotherbear) { width: 100%!important;}
        }

        .feature__image { position:relative; overflow:hidden; border-right: 40px solid transparent; flex: 1; position: sticky; top: 20px;

            @include breakpoint(grandmabear) { border-right: 20px solid transparent;}
            @include breakpoint(brotherbear) { margin-bottom:20px; width:100%; border-right: none; border-radius: 5px !important; display: block; top: auto;}

            a { background:rgba(0, 0, 0, 0.6); position:absolute; width:100%; height:100%; top:0; left:0; z-index:1; box-sizing:border-box; display: flex; justify-content: center; align-items: center;

                figure { border-radius:100%; width:100px; height:100px; background: var(--fl1-primary); display:block; transition:all .4s ease; transform:scale(1); display: flex; justify-content: center; align-items: center;
                    i { font-size: 40px; color:#fff; margin-left:9px;}
                }
            }
            
            &:hover {
                a {
                    figure { transition:all .4s ease; transform:scale(1.2);}
                }
            }

        }

        .feature__text { border-left: 40px solid transparent;
            @include breakpoint(grandmabear) { border-left: 20px solid transparent;}
            @include breakpoint(brotherbear) { width:100%; border-left: none;}

            h3 { font-size: 28px; font-weight: 700; line-height: 44px; color: var(--fl1-text); margin-bottom: 20px;}
            h5 { font-size: 15px; font-weight: 600; margin-bottom: 10px; color: var(--fl1-primary); text-transform: uppercase; line-height: normal; letter-spacing: 1px;}

			li, p {
				font-size: var(--fl1-font-xs);
				color: var(--fl1-text);
				margin-bottom: var(--fl1-font-xl);
				font-weight: 400;
				line-height: 1.5;
			
				a { 
					color: var(--fl1-primary);
					font-weight: 600;

                    &.button{
                        display: inline-block; color: white;
                    }
				}
			
				strong {
					font-weight: 600;
				}
			}

            ul,
            ol {
                padding-left: 32px;
                margin-bottom: 16px;
                li { 
                    margin-bottom: 8px;
                    line-height: 24px;
                }
            }

            ul { 
                list-style: disc;
            }

            ol { 
                list-style: decimal;
            }

            .feature__action { display: flex; justify-content: flex-start; margin-top: 40px;
                @include breakpoint(brotherbear){margin-top: 0;}
            }

            // Accordion
            .accordion__wrap { border-bottom: 1px var(--fl1-border) solid;
                h3 { font-size: 21px; align-items: center; padding: 8px 0; margin: 0; color: var(--fl1-text); font-weight: 500; line-height: 38px;
                    span { color: var(--fl1-secondary);}
                }

                &.active { 
                    h3 {color: var(--fl1-primary); font-weight: 500;}
                }

                .accordion__content { 
                    padding: 10px 0 30px;
                }
            }
        }

        &.right {

            .feature__image { order:1; border-left: 40px solid transparent; border-right:none;

                @include breakpoint(grandmabear) { border-left: 20px solid transparent;}
                @include breakpoint(brotherbear) { width:100%; order:0; border-left:none; }

                &.as__bg { position: absolute; right: 0; left: auto;}

            }

            .feature__text { border-right: 40px solid transparent; border-left:none;
                @include breakpoint(brotherbear) { border: none;}
            }

        }

        &.fc-feature-img-expand { 
            align-items: unset;

            .feature__image { 
				img { 
					display: none;
					@include breakpoint(brotherbear) { 
						display: block;
					}
				}
				&-expand { 
					width: 100%;
					min-height: 100%;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					border-radius: 16px;

					@include breakpoint(brotherbear) { 
						display: none;
					}
				}
            }
        }

    }
}

.fc_feature_accordion { 
    .fc_feature_wrapper { 
        align-items: flex-start;
    }
}
