/*
    Bluecoat - Grid Boxes
*/

.fc_grid_boxes {
    .grid__boxes__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // margin: 0 -16px;

        article {
            display: flex;
            min-width: 250px;

            .padder {
                margin: 10px;
                width: 100%;
                background: #fff;
                box-shadow: 0 6px 20px rgb(0 0 0 / 10%);
                position: relative;
                transition: .5s ease all;

                &:hover{
                    transform: scale(1.05); transition: .5s ease all;
                }
            }

            figure {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 200px;
                width: 100%;

                a { 
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            .grid-box-content {
                margin-top: 10px;
                padding: 10px 20px 20px;
                width: 100%;
                display: flex;
                flex-direction: column;

                &.center{align-items: center; text-align: center;
                    a.link{align-self: center;}
                }

                h5 {
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    color: var(--fl1-primary);
                    text-transform: uppercase;
                    line-height: normal;
                    letter-spacing: 0.5px;

                    i{
                        font-size: 38px;
                    }
                }

                h3 {
                    font-size: 20px;
                    color: var(--fl1-text);
                    line-height: 28px;
                    font-weight: 700;
                    margin-bottom: 15px;
                    font-family: $textFont;
                }

                p {
                    font-size: 15px;
                    line-height: 1.5;
                    color: var(--fl1-text-light);

                    a { 
                        color: $primary; text-decoration: underline; line-height: 1.7;
                    }
                }

                a { 
                    height: 100%;
                    display: block;
                }

                a.link {
                    height: auto;
                    font-size: 14px;
                    font-weight: bold;
                    color: $primary;
                    margin-top: 16px;
                    display: flex;
                    align-self: flex-start;
    
                    i {
                        font-size: 14px;
                        margin-left: 8px;
                    }
    
                    &:hover { 
                        i { 
                            &::before { 
                                content: '\f061';
                            }
                        }
                    }
                }
            }

            &.full { width: 100%;}
            &.half { width: math.percentage(math.div(1,2));}
            &.one__third { width: math.percentage(math.div(1,3));
                @include breakpoint(1000px){width: 50%;}
                @include breakpoint(700px){width: 100%;}
            }
            &.one__fourth { width: math.percentage(math.div(1,4));
                @include breakpoint(teenbear){
                    width: 100%;
                }
            }
        }

        &.overlay {

            article {
                figure {
                    border-radius: 24px;
                }
                
                .grid-box-content {
                    margin: 24px;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .4s ease;
                    top: 0;
                    left: 0;
                    padding: 24px;
                    background: linear-gradient(150deg, rgba(0, 21, 73, 0.3) 65%, rgba(71, 32, 85, 0.3) 90%, rgba(125, 48, 138, 0.7) 100%);
                    backdrop-filter: blur(8px);
                    border-radius: 24px;
                    color: #fff;
                    width: calc(100% - 48px);
                    height: calc(100% - 48px);

                    h5, h3, p { color: #fff;}

                    a { 
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }

                &:hover { 
                    .grid-box-content { 
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .slick-dots {
            margin: 0;
        }
    }
}
