/*
    Testimonials
*/

.fc_testimonials {

    .testimonials__wrapper { margin: 0 -20px 0;

        article {
            .inner { padding: 20px;}

            .testimonial__meta { flex:1 0 100%;

                .stars {
                    @include breakpoint(mamabear) { margin-bottom:10px;}
                    span { color:var(--fl1-primary); font-size: 20px;}
                }

                h3 { font-size: 16px; color: var(--fl1-text); margin-top: 10px; line-height: 23px; font-weight: 600;}

            }

            .testim__content { padding-right: 20px; overflow: hidden;
                &.trunc { height: 75px;}
                p { font-size:16px; line-height:26px; color:var(--fl1-text-light); padding-bottom:15px; margin:0;}
            }

            .testim__read-more { font-size: 13px; color: var(--fl1-primary); display: block; margin: 10px 20px 0 0; cursor: pointer; text-align: right;
                &:hover { color: lighten($primary, 5%);}
            }

        }

    }

    // Slick dot navigation
    .slick-dots {
        text-align: center;
        padding: 15px 0 0 0;
        bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            vertical-align: top;
            margin: 0 4px;
            width: auto;
            height: auto;

            button {
                width: 13px;
                height: 13px;
                border: none;
                cursor: pointer;
                border-radius: 50%;
                background: var(--fl1-text);
                box-shadow: 0 0 0 0 transparent;
                vertical-align: middle;
                color: #fff;
                margin: 0;
                transition:all .3s ease;
                opacity: .4;
                &::before {
                    display: none;
                }
                &:focus {
                    outline: none;
                }
                &:hover {
                    opacity: 1;
                }
            }
            &.slick-active {
                button {
                    background: var(--fl1-primary);
                    opacity: 1;
                }
            }
        }
    }
}
