/*
    404 Error Page
 */

section {
    &.four_o_four { padding:40px 0 100px;
        .four_o_four__page { max-width:60%; margin:0 auto; display:flex; flex-direction:column; align-items:center; text-align:center; padding-top: 60px;
            @include breakpoint(mamabear) { max-width: 100%;}

            .four_o_four__img { width: 300px; margin-bottom: 40px;
                i { font-size: 100px; color: var(--fl1-secondary);}
            }

            h2 { font-size:32px; color:var(--fl1-text); padding-bottom:20px; font-weight: 700;}
            p { font-size:14px; color:var(--fl1-text); padding-bottom:10px; line-height:22px;}
        }
    }
}
