/*
 * Footer
 *
*/

.footer-logos { 
	padding: var(--fl1-spacing-lg) 0;
	border-top: 1px solid var(--fl1-border);
}

footer {
    position: relative;
    background: #fff;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    margin-top: auto;

    .footer__signup {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px lighten(#fff, 10%) solid;
        padding: 32px 0;
        text-align: center;

        @include breakpoint(grandpabear) {
            flex-direction: column;
            align-items: center;
        }
        @include breakpoint(papabear) {
            margin-bottom: 0;
        }

        h3 {
            font-size: 22px;
            font-weight: 800;
            color: var(--fl1-white);
            margin-bottom: 16px;
        }

        &__form {
            //flex: 2;

            .form__row {
                display: flex;

                @include breakpoint(brotherbear) {
                    flex-direction: column;
                }

                .form__field {
                    margin-right: 16px;
                    @include breakpoint(brotherbear) {
                        margin-left: 0;
                    }

                    &.submit {
                        @include breakpoint(brotherbear) {
                            justify-content: center;
                            display: flex;
                        }
                    }
                }

                input[type="text"],
                input[type="email"] {
                    background: var(--fl1-white);
                    padding: 20px;
                    border-radius: var(--fl1-radius-sm);
                    border: none;
                    font-family: var(--fl1-primary-font);
                    font-size: 16px;
                    min-width: 420px;
                    color: var(--fl1-text);
                    @include breakpoint(grandpabear) {
                        min-width: 240px;
                    }
                    @include breakpoint(brotherbear) {
                        margin-bottom: 10px;
                        width: 100%;
                    }

                    &::-webkit-input-placeholder,
                    &::-moz-placeholder,
                    &:-ms-input-placeholder,
                    &:-moz-placeholder {
                        color: var(--fl1-text-light);
                        transition: all 0.4s ease;
                    }
                }

                button {
                    flex-grow: 1;
                    background: var(--fl1-primary);
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    position: relative;
                    border-radius: none;
                    font-size: var(--fl1-font-xs);
                    font-weight: 800;
                    color: var(--fl1-white);
                    padding: 4px 25px 0;
                    font-family: var(--fl1-primary-font);
                    transition: all 0.3s ease;
                    max-width: 165px;
                    border-radius: var(--fl1-radius-xl);
                    height: 100%;

                    &:hover {
                        transition: all 0.3s ease;
                    }

                    @include breakpoint(brotherbear) {
                        padding: 15px 20px;
                        align-self: center;
                    }
                    @include breakpoint(mamabear) {
                        width: 100%;
                        max-width: 100%;
                    }
                }

                &.gdpr {
                    text-align: right;
                    padding-top: 8px;
                    @include breakpoint(grandpabear) {
                        text-align: center;
                        justify-content: center;
                    }

                    small {
                        font-size: 12px;
                        line-height: 20px;
                        color: var(--fl1-white);
                    }
                }
            }
        }
    }

    .footer__menus {
        padding: 50px 0; background: #000;

        @include breakpoint(papabear) {
            padding: 0;
        }

        .max__width {
            display: flex;
            @include breakpoint(papabear) {
                flex-direction: column;
            }
        }

        article {
            width: 25%;

            @include breakpoint(papabear) {
                width: 100%;
                border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
            }

            &.align-right {
                text-align: right;
            }

            &.footer__details{
                @include breakpoint(1024px){margin-top: 30px;}

                img{max-width: 160px;}
            }

            figure { 
                max-width: 200px;
                width: 100%;
                margin-bottom: 24px;
            }

            h5 {
                font-size: 22px;
                font-weight: 700;
                color: #fff;
                padding-bottom: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include breakpoint(papabear) {
                    padding: 17px 0;
                    cursor: pointer;
                }

                i {
                    display: none;
                    font-size: 14px;
                    color: var(--fl1-white);
                    @include breakpoint(papabear) {
                        display: block;
                    }
                }
            }

            p {
                color: #fff;
                font-size: 14px;
                margin-bottom: 16px;
                a {
                    color: #fff;
                    &:hover {
                        color: var(--fl1-secondary);
                    }
                }
            }

            ul {
                margin: 0;
                padding: 0;
                @include breakpoint(papabear) {
                    font-size: 16px;
                    padding-bottom: 20px;
                }

                li {
                    list-style: none;
                    line-height: 24px;
                    font-size: 14px;
                    padding-bottom: 8px;
                    color: #fff;
                    display: flex;
                    @include breakpoint(papabear) {
                        padding-bottom: 10px;
                    }

                    i {
                        font-size: 16px;
                        color: var(--fl1-white);
                        width: 22px;
                        display: flex;
                        justify-content: center;
                        margin: 2px 10px 0 0;
                    }
                    img {
                        width: 140px;
                        margin-right: 10px;
                    }

                    a {
                        font-size: 14px;
                        color: #fff;
                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }

            &.newsletter {
                width: 50%;

                @include breakpoint(papabear) {
                    width: 100%;
                    margin-top: 40px;
                    border-bottom: none;
                }
            }
        }
    }

    .subfooter {

        .max__width {
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px rgba(255, 255, 255, 0.1) solid;
            padding: 32px 0;

            @include breakpoint(papabear) {
                flex-direction: column;
            }

            ul { 
                display: flex;

                li {
                    padding: 0 20px;

                    a {
                        i{color: #000; font-size: 30px; margin-right: 20px;
                            &:hover{color: $primary;}
                        }
                    }
                }
            }
        }
    }
}
