/// Global
body {
	font-family: $textFont;
	font-size: var(--fl1-base-font-size);
	font-weight: 400;
	color: var(--fl1-text);
	overflow-x: hidden;
	background: var(--fl1-primary-light);

	&.no__scroll {
		overflow: hidden;
	}

	.header-banner {
		position: relative;
		background: #fff; 

		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100%;
		// 	top: 0;
		// 	left: 0;
		// 	clip-path: ellipse(1700px 100% at calc((100vw - 1900px) / 2) 0%);
		// 	background: #fff;
		// 	z-index: 0;

		// 	@include breakpoint(600px) {
		// 		height: 115%;
		// 	}
		// }
	}
}

#page {
	display: flex;
	flex-direction: column;
	background: #f7f7f7;
	&.sticky {
		padding-top: 100px;
	}

	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primaryFont;
	line-height: 1.4;
}

a {
	transition: all 0.3s ease;
	&:hover {
		transition: all 0.3s ease;
	}
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

.max__width {
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	padding: 0 20px;
	@include breakpoint(cousinbear) {
		padding: 0 20px;
	}
}

.hide {
	display: none;
}

/// Tooltips
.tooltipster-template {
	display: none;
	&.align-right {
		.tooltipster-content {
			text-align: right;
		}
	}
}

.tooltip_templates {
	display: none;
}

/**
 * Loaders
 */
.wp__loading {
	display: none;
	width: 20px;
	margin: 0 auto;
	&.is__loading {
		display: block;
	}
}

.blazy {
	transition: opacity 500ms ease-in-out;
	max-width: 100%;
	opacity: 0;
	&.b-loaded {
		opacity: 1;
	}
}

/**
 * Buttons
 */
.button {
	font-family: $boldTextFont;
	font-weight: bold;
	font-size: 16px;
	padding: 15px 28px;
	display: flex;
	box-shadow: none;
	transform: scale3d(1, 1, 1);
	text-align: center;
	justify-content: center;
	align-items: center;
	border: none;
	cursor: pointer;
	line-height: 1;
	transition: all 0.3s ease;

	i {
		color: #fff;
		position: relative;
		top: -1px;
	}

	&:hover {
		background: #000; transition: .5s ease all;
	}

	&.small {
		font-size: 0.75rem;
		padding: var(--fl1-spacing-xs) var(--fl1-spacing-sm);

		i {
			font-size: 12px;
		}
	}

	&.large {
		font-size: var(--fl1-font-xs);
		padding: var(--fl1-spacing-sm) var(--fl1-spacing-md);
	}

	&.primary {
		background: var(--fl1-primary);
		color: #fff;

		&:hover {
			background: #000; transition: .5s ease all;
		}

		&.border {
			background: transparent;
			border: 1px solid var(--fl1-primary);
			color: var(--fl1-primary);

			i {
				color: var(--fl1-primary);
			}
		}
	}
	&.secondary {
		background: var(--fl1-secondary);
		color: #fff;

		&.border {
			background: transparent;
			border: 1px solid var(--fl1-secondary);
			color: var(--fl1-secondary);

			i {
				color: var(--fl1-secondary);
			}
		}
	}
	&.textLight {
		background: var(--fl1-text-light);
		color: #fff;

		&.border {
			background: transparent;
			border: 1px solid var(--fl1-text-light);
			color: var(--fl1-text-light);

			i {
				color: var(--fl1-text-light);
			}
		}
	}
	&.lightGrey {
		background: var(--fl1-lightgrey);
		color: var(--fl1-text);

		&.border {
			background: transparent;
			border: 1px solid var(--fl1-lightgrey);
			color: var(--fl1-lightgrey);

			i {
				color: var(--fl1-lightgrey);
			}
		}
	}

	&.icon {
		&-left {
			i {
				margin-right: 8px;
			}
		}
		&-right {
			i {
				margin-left: 8px;
			}
		}
	}
}

.animate-icon {
	i {
		transition: all 0.3s ease;
	}
	&:hover {
		i {
			transform: translateX(3px);
		}
	}
}

.progress {
	width: 200px;
	height: 16px;
	border-radius: 35px;
	background: var(--fl1-lightgrey);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all 0.2s ease;

	&.white {
		background: #fff;
	}

	&--figure {
		position: relative;
		z-index: 2;
		top: 2px;
		font-size: 12px;
		font-weight: 700;
		color: var(--fl1-text);
	}
	&--bar {
		height: 100%;
		position: absolute;
		left: 0;
		padding: 0;
		z-index: 1;
		animation: progress-bar 1.5s;
		&.error {
			background: var(--fl1-error);
		}
		&.warning {
			background: var(--fl1-warning);
		}
		&.success {
			background: var(--fl1-success);
		}
	}
}

.not__found {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--fl1-spacing-xl) 0;
	max-width: 750px;
	margin: auto;
	width: 100%;
	gap: var(--fl1-spacing-sm);

	figure {
		i {
			font-size: 65px;
			color: var(--fl1-secondary);;
		}
	}

	h3 {
		font-size: var(--fl1-font-md) !important;
		color: var(--fl1-text) !important;
		font-weight: 700;
		margin-bottom: 0 !important;
		line-height: normal;
	}

	p {
		font-size: var(--fl1-font-xxs);
	}
}

.slick-prev {
	left: 0;
	&.slick-arrow {
		&::before {
			content: "\f053";
			font-family: 'Font Awesome 6 Pro';
			color: var(--fl1-primary);
			font-size: var(--fl1-font-xxl);
		}
	}
}

.slick-next {
	right: 0;
	&.slick-arrow {
		&::before {
			content: "\f054";
			font-family: 'Font Awesome 6 Pro';
			color: var(--fl1-primary);
			font-size: var(--fl1-font-xxl);
		}
	}
}

@import "404";
@import "search-results";
@import "pagination";
@import "cards";
@import "spotlight";
