nav.mega-menu {
    margin-left: 20px;
    @include breakpoint(1060px) {
        display: none;
    }

    & > ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        li {
            list-style: none;
            position: relative;
            a {
                font-size: var(--fl1-base-font-size);
                color: #fff;
                font-size: var(--fl1-font-xxs);
                font-weight: 600;
                padding: var(--fl1-spacing-sm) var(--fl1-spacing-xs);
                display: block;
                position: relative;
                transition: all 0.1s ease;
            }

            &.current-page { 
                a {
                    color: var(--fl1-primary);
                }
            }

            &:hover {
                a {
                    color: $primary;
                }
            }

            &.has-columns { 
                &:hover {
                    &>a {
                        background: #fff;
                        color: var(--fl1-primary);
                        box-shadow: 0 15px 27px rgb(0 0 0 / 20%);
                    }
                }   
            }

            .panel {
                transition: all .1s ease-in-out;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 46px;
                left: 0;
                border-radius: 0 var(--fl1-radius-md) var(--fl1-radius-md) var(--fl1-radius-md);
                background: #fff;
                box-shadow: 0 19px 17px rgb(0 0 0 / 14%);
                display: flex;
                transition: all 0.1s ease;

                .panel__column {
                    width: math.percentage(math.div(1,3));
                    min-width: 200px;
                    padding: var(--fl1-spacing-md) var(--fl1-spacing-xs);
                    position: relative;
                    margin: 0 var(--fl1-spacing-xs);
                    flex-grow: 1;
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    &.has__icon {
                        padding-left: var(--fl1-spacing-lg);
                        margin-left: var(--fl1-spacing-sm);
                    }
                    &.panel__image {
                        border-right: none;
                    }

                    h3 {
                        font-size: var(--fl1-font-xxs);
                        font-weight: 700;
                        padding: 0 0 var(--fl1-spacing-sm);
                        margin: 0;
                        color: var(--fl1-text);
                        a {
                            padding: 0;
							font-weight: 700;
                            position: static;
                            color: var(--fl1-text);
                        }

                        span {
                            display: block;
                            color: var(--fl1-primary);
                            font-size: var(--fl1-font-sm);
                            position: absolute;
                            left: 0;
                            max-width: 1.25rem;
                            width: 100%;
                        }
                    }

                    ul {
                        width: 100%;
						display: flex;
                        flex-direction: column;
						gap: 0.75rem;

                        li {
                            text-align: left;
                            width: auto;

                            a {
                                display: flex;
                                align-items: center;
                                font-weight: 400;
                                font-size: var(--fl1-font-xxs);
                                color: var(--fl1-text);
                                padding: 0;
                                border: none;
                                text-transform: none;
                                letter-spacing: normal;
                                &:hover {
                                    border: none;
                                    color: $primary;
                                }

                                figure { 
                                    width: 35px;
                                    margin-right: 20px;
                                }
                            }

							&:last-of-type {
								margin-bottom: 0;
							}
                        }
                    }

                    .column__button {
                        display: block;
                        padding: 6px 20px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 700;
                        letter-spacing: -0.5px;
                        color: #fff;
                        background: var(--fl1-primary);
                        clear: both;
                        margin: 20px 30px 0 0;

                        &:hover {
                            background: lighten($primary, 5%);
                        }
                    }

                    &:last-of-type {
                        border-right: none;
                    }

                    &.panel__icon-links {
                        ul.icon-links {
                            li { 
                                figure { margin-right: 0;
                                    i {
                                        font-size: 20px;
                                        color: var(--fl1-primary);
                                    }
                                }
                            }
                        }
                    }

                }
            }

            &:hover > .panel {
                opacity: 1;
                z-index: 998;
                transition: all .1s ease-in-out;
                visibility: visible;
            }
        }
    }

}
