&.sticky { top: 0; background: #fff; box-shadow: 0 0 5px rgba(black, 0.2);

    .wc__header { 
        li { 
            a { color: var(--fl1-primary);}
        }
    }

    .header__main--left {
        .logo {
            a {
                svg {
                    g#intelligence { 
                        path { fill: var(--fl1-primary);}
                    }
                }
            }
        }

    }

    .header__main--right {

        nav.header__nav {
            ul {
                li {
                    a { color: var(--fl1-primary);}
                }
            }
        }

    }
}

&.not-sticky { top: -180px;}